<table class="beatles-table">
    <thead>
    <tr class="header-row" colspan="4">
        <th colspan="4"><%= title %></th>
    </tr>
    </thead>
    <tr>
        <% for(var i = 0; i < members.length; i++) { %>
        <td> <%= members[i][0] %></td>
        <% } %>
    </tr>
    <tr>
        <% for(var i = 0; i < members.length; i++) { %>
        <td><%= img_tag(members[i][1]) %></td>
        <% } %>
    </tr>

</table>